html, body{
    height: 100%;
}
body{
    @include lato;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    line-height: 1.42;
    color: #252525;
    @include desktop{
        font-size: 15px;
    }
    @include laptop{
        font-size: 14px;
    }
    @include tablet{
        font-size: 12px;
    }
    @include phone{
        font-size: 12px;
    }
}

.wrapper{
    position: relative;
    min-height: 100%;
    overflow: hidden;
    min-width: 300px;
}
ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
p{
    margin: 0;
}
h1, h2, h3, h4, h5{
    margin-top: 0;
    margin-bottom: 0;
    font-weight: normal;
}

*{
    box-sizing: border-box;
}
.container__full{
    margin: 0 auto;
    width: 1310px;
    @include desktoplg{
        width: 95%;
    }
}
.flex{
    display: flex;
}
.container__fluid{
    width: 1150px;
    margin: 0 auto;

    @include desktop{
        width: 950px;
    }
    @include laptop{
        width: 720px;
    }
    @include tablet{
        width: 90%;
    }
}
.container{
    width: 745px;
    margin: 0 auto;
    @include tablet{
        width: 90%;
    }
}

button, input, a{
    outline: none;
}

.btn{
    box-shadow: 0 4px 6px rgba(50,50,93,.21), 0 1px 3px rgba(0,0,0,.18);
    transition: .15s linear;

    &:hover{
        box-shadow: 0 7px 14px rgba(50,50,93,.21), 0 3px 6px rgba(0,0,0,.18);
        transform: translateY(-2px);
    }
}

.card-btn{
    box-shadow: 0 13px 27px -5px rgba(50,50,93,.25), 0 8px 16px -8px rgba(0,0,0,.3);
    transition-duration: .2s;
    transition-property: color,background-color,box-shadow,transform,-webkit-box-shadow,-webkit-transform;

    &:hover{
        box-shadow: 0 30px 60px -12px rgba(50,50,93,.25), 0 18px 36px -18px rgba(0,0,0,.3);
        transform: translate(2px, -2px);
    }
}
select, input{
    height: auto !important;
    margin-bottom: 0 !important;
    border-radius: 0;
}
.text-red{
    color: #ff072a;
}