.guides__breadcrumbs{
  background: #3800aa !important;

  @include laptop{
    background: #8d00d4 !important;
  }
}
.guides__head{
  padding: 30px 0 50px 0;
  background: #e7e7e7;

  .container__full{
    flex-wrap: wrap;
  }
}
.guides__head-guids-wrap{
  width: 300px;
  padding: 15px 20px;
  margin-right: 30px;
  background: #fff;

  @include desktop{
    width: 250px;
  }
  @include laptop{
    order: 2;
    width: 100%;
    margin-right: 0;
  }
}
.guides__head-guids-top{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.guides__head-guids-top-img{
  width: 50px;
  margin-right: 10px;
  img{
    max-width: 100%;
  }
}
.guides__head-guids-top-text{
  font-size: 20px;
  @include latobold;
  color: #040404;
}
.guides__head-guids-info{
  margin-bottom: 20px;
  p{
    @include latobold;
    font-size: 18px;
    color: #040404;
  }
}
.guides__head-guids-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.guides__head-guids-item{
  width: 50%;
  margin-bottom: 40px;
}
.guides__head-guids-img{
  text-align: center;
  margin-bottom: 10px;
  img{
    max-width: 60px;
  }
}
.guides__head-guids-text{
  text-align: center;
  p{
    color: #040404;
    @include latobold;
    font-size: 18px;
    width: 80px;
    margin: 0 auto;
  }
}



.guides__head-best-wrap{
  display: flex;
  flex: 1;

  @include laptop{
    margin-bottom: 50px;
    flex-wrap: wrap;
    width: 100%;
    flex: auto;
  }
}
.guides__head-best-img{
  width: 60%;
  height: 100%;
  margin-right: 20px;
  background: #5400ff;

  @include laptop{
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
    height: 200px;
  }
}
.guides__head-best-info{
  width: 40%;

  @include laptop{
    width: 100%;
  }
}
.guides__head-best-info-name{
  color: #040404;
  font-size: 22px;
  @include latobold;
  margin-bottom: 10px;

  @include laptop{
    font-size: 18px;
  }
}
.guides__head-best-info-text{
  font-size: 14px;
  color: #4e4e4e;
  margin-bottom: 30px;

  @include laptop{
    display: none;
  }
}
.guides__head-best-info-published{
  font-size: 18px;
  @include latobold;
  color: #117201;
  @include laptop{
    display: none;
  }
}

.guides__charts{
  padding: 20px 0 50px 0;
  background: #e7e7e7;
}
.guides__charts-head{
  font-size: 36px;
  @include latobold;
  color: #252525;
  margin-bottom: 20px;
}
.guides__charts-list{
  display: flex;
  justify-content: space-between;

  @include laptop{
    flex-wrap: wrap;
  }
}
.guides__charts-item{
  width: 17%;

  @include laptop{
    width: 45%;
    margin-bottom: 30px;
  }
  @include phone{
    width: 100%;
  }
}
.guides__charts-link{
  display: block;
  text-decoration: none;
  transition: .2s linear;
  &:hover{
    transform: translateY(-3px);
  }
  @include phone{
    display: flex;
  }
}
.guides__charts-link-img{
  width: 100%;
  height: 180px;
  background: #5400ff;
  margin-bottom: 10px;
  text-align: center;
  img{
    max-width: 100%;
  }
  @include phone{
    width: 45%;
    margin-right: 5%;
    height: 140px;
  }
}
.guides__charts-link-text{
  p{
    color: #040404;
    font-size: 15px;
    @include latobold;
  }
  @include phone{
    flex: 1;
  }
}


.guides__reviews{
  padding: 30px 0 50px 0;
  background: #e7e7e7;
}
.guides__reviews-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.guides__reviews-item{
  width: 32%;
  margin-bottom: 40px;

  @include tablet{
    width: 47%;
  }
  @include phone{
    width: 100%;
  }
}
.guides__reviews-link{
  display: block;
  text-decoration: none;
  transition: .2s linear;

  &:hover{
    transform: translateY(-3px);
  }
}
.guides__reviews-img{
  width: 100%;
  height: 200px;
  background: #5400ff;
  margin-bottom: 10px;


  img{
    max-width: 100%;
  }
}
.guides__reviews-text{
  font-size: 18px;
  @include latobold;
  color: #040404;
}
.guides__information{
  padding: 50px 0;
  background: #5400ff;
  width: 100%;
  height: 100%;
  
  .container{
    display: flex;
  }
  @include tablet{
    display: none;
  }
}
.guides__information-img{
  width: 250px;
  text-align: center;
  margin-right: 50px;
  img{
    max-width: 100%;
  }
}
.guides__information-text-wrap{
  color: #fdfcff;
  width: 500px;
}
.guides__information-text-head{
  margin-bottom: 30px;
  p{
    font-size: 42px;
    @include latobold;
  }
}

.guides__information-text{
  p{
    font-size: 18px;
    color: #e8ddff;
  }
}