.alerts__breadcrumbs{
  background: #3800aa !important;

  @include laptop{
    background: #8d00d4 !important;
  }
}
.alerts__hero{
  background: #5400ff;
  padding: 50px 0;
  display: flex;
  @include laptop{
    background: #ffffff;
    flex-wrap: wrap;
    padding: 20px 0 0 0;
  }
}
.alerts__hero-img{
  width: 555px;
  margin-right: 50px;
  img{
    max-width: 100%;
  }
  @include laptop{
    order: 2;
    width: 97%;
    margin: 0 auto;
  }
}
.alerts__hero-wrap{
  width: 600px;
  margin-right: 35px;

  @include laptop{
    margin: 0 auto;
    width: 95%;
  }
}

.alerts__hero-head-text{
  width: 420px;
  margin-bottom: 30px;
  p{
    @include latobold;
    font-size: 32px;
    color: #fe9c5d;
    line-height: 1.2;
  }
  @include laptop{
    width: 100%;
    p{
      color: #717171;
    }
  }
}

.alerts__hero-form{
  .alerts-mobile{
    display: none;
    font-size: 17px;
    @include latobold;
    color: #717171;
    @include laptop{
      display: block;
    }
  }
  .buzz-alerts__form-fields{
    margin-bottom: 20px;
  }
  .buzz-alerts__form-fields_flex{
    @include laptop{
      flex-wrap: wrap;
    }
  }
  .buzz-alerts__form-fields-label{
    input{
      padding-left: 55px;
      @include laptop{
        padding-left: 20px;
      }
    }
    &:before{
      background: #ffff00;
      width: 42px;
      height: 42px;
    }
    @include laptop{
      width: 100%;
      margin-bottom: 20px;

      &::before{
        display: none;
      }
    }
  }
  .buzz-alerts__form-input{
    padding: 12px 20px;
    background: transparent;
    border-radius: 0;
    border: 2px solid #d4bfff;
    color: #c6aaff;
    @include latobold;
    font-size: 16px;

    &:focus{
      border: 2px solid #d4bfff;
      background: transparent;
    }

    @include laptop{
      border: 2px solid #5400ff;
      color: #252525;
      &:focus{
        border: 2px solid #5400ff;
      }
    }
  }
}
.alerts__hero-button{
  background: #ffff00;
  padding: 15px 30px;
  color: #171716;
  @include latobold;
  font-size: 18px;
  cursor: pointer;
  border-radius: 0;
  margin-bottom: 20px;

  &:hover{
    background: #eaea00;
  }
}
.alerts__hero-footer-text{
  color: #b0fe2e;
  @include latobold;
  font-size: 14px;

  @include laptop{
    margin-bottom: 10px;
    color: #090909;
  }
}

.alerts__unsubscribe{
  padding: 50px 0;
  background: #0038aa;
  text-align: center;
  @include tablet{
    padding: 25px 0;
  }
}

.alerts__unsubscribe-head-text{
  font-size: 18px;
  color: #fefeff;
  @include latobold;
  margin-bottom: 10px;

  @include phone{
    font-size: 15px;
  }
}
.alerts__unsubscribe-link{
  a{
    display: inline-block;
    background: #ffaa00;
    padding: 12px 30px;
    @include latobold;
    font-size: 18px;
    text-decoration: none;
    color: #171716;

    &:hover{
      background: #e49800;
    }
    @include laptop{
      padding: 10px 20px;
    }
  }
}

.alerts__famous{
  padding: 30px 0 70px 0;
  background: #e7e7e7;
}
.alerts__famous-text{
  margin-bottom: 30px;
}
.alerts__famous-text-head{
  font-size: 26px;
  @include latobold;
  color: #171717;
  margin-bottom: 5px;
}
.alerts__famous-text-head-update{
  p{
    font-size: 18px;
    @include latobold;
  }
}

.alerts__famous-list{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.alerts__famous-item{
  width: 32%;
  margin-bottom: 30px;
  background: #fff;
  display: flex;
  padding: 20px ;

  @include tablet{
    width: 100%;
  }
}
.alerts__famous-item-img{
  width: 40%;
  text-align: center;
  margin-right: 3%;
  img{
    max-width: 100%;
  }
}
.alerts__famous-item-text{
  width: 56%;
}
.alerts__famous-item-name, .alerts__famous-item-price, .alerts__famous-item-alert-price{
  @include latobold;
  font-size: 14px;
  margin-bottom: 5px;
}
.alerts__famous-item-alert-price{
  color: #018508;
}
.alerts__famous-item-link{
  a{
    display: block;
    padding: 8px;
    text-align: center;
    background: #ffaa00;
    @include latobold;
    font-size: 14px;
    text-decoration: none;
    color: #171716;

    &:hover{
      background: #f1a102;
    }
  }
}