mixin bottom1 (additionClass)
  section.buzz-bottom-first-img__section
    .container
      .buzz-bottom-first-img__wrap
        .head-inline__img
          img(src="assets/img/decor/giraffe2.png" alt="Giraffe")
        .head-inline__text 
          h3 And yayyy!!!!!
          h3 One Final Word.
  section.buzz-bottom-first__section
    .container
      .buzz-bottom-first__img
        img(src="assets/img/decor/giraffe2.png", alt="Giraffe")
        .buzz-bottom-first__img-mobile-text
          p You Love Buzzguide. Right?
      .buzz-bottom-first__text
        .buzz-bottom-first__text-head
          p You Love Buzzguide. Right?
          p Let's make it formal by joining our community of Buzzguide early most memebers (First 3000 users) for Free.
        ul.buzz-bottom-first__list
          li.buzz-bottom-first__item
            span <i class="fas fa-circle"></i>
            span Enjoy our special privilege & love as an early member.
          li.buzz-bottom-first__item
            span <i class="fas fa-circle"></i>
            span You'll be the first to receive every invitation from us.
          li.buzz-bottom-first__item
            span <i class="fas fa-circle"></i>
            span Your feedback/feature suggestions are highly valued & quickly implemented. And lots more...
        form.buzz-bottom-first__form
          .buzz-bottom-first__form-label
            input(type="email", name="email" placeholder="Enter Your Email address")
          .buzz-bottom-first__form-label
            input(type="text", name="name" placeholder="Enter Your Name")
          button(type="submit").btn.buzz-bottom-first__form-btn
            p Be a Early Member Now For Free
            p Join our family of 1200 existings members
        .buzz-bottom-first__text-bottom
          p We send you a weekly once email update with all the important new site features, greatest price drop of the week, newly added reviews, guides & other very ineresting stuff.
