mixin footer (additionClass)
  footer.footer
    .container__fluid
      .footer__left
        .footer__left-text
          p Buzzguide is a Hyderabad based startup founded by former colleagues at Freecharge. You should never buy a product out of blank. Buzzguide provides you with as many tools as possible for a powerful product & price research.
          p Buzzguide is a Hyderabad based startup founded by former colleagues at Freecharge. You should never buy a product out of blank. Buzzguide provides you with as many tools as possible for a powerful product & price research.
          p Have something to tell us? Shoot an emai at 
            a(href="mailto:contact@buzzguide.in") contact@buzzguide.in
        .footer__left-logo
          a(href="#")
            img(src="assets/img/logo/logo1.png", alt="Logo")
        .footer__left-copyright copyright@2018
      .footer__right
        .footer__right-text
          h3 Terms of Use
          p Prices and the other data is not real time, we generally update the website 2 or 3 times in a day. Please check Amazon.in to find the current price of the item. Buzzguide is a participant of Amazon Associates program & we may recieve advertising fees on qualifing purchases. All the content displayed, Amazon logo & other trademarks displayed belongs to Amazon.com, Inc or its affiliates of the respective product manufactures.
          