mixin phoneMenu (additionClass)
  .nav__hamburger-wrap
    .nav__hamburger-wrap-icon
      i(class="fas fa-times")
    .nav__hamburger-container
      ul(data-drilldown style="max-width: 100%" data-auto-height="true" data-animate-height="true").nav__hamburger-wrap-list.menu.vertical.drilldown
        li.nav__hamburger-wrap-item
          a(href="#").nav__hamburger-wrap-link Home Page
        li.nav__hamburger-wrap-item
          a(href="#").nav__hamburger-wrap-link Product Rankings
          ul.nav__hamburger-wrap-sub-list.menu.nested.vertical
            li.nav__hamburger-wrap-item_active
              span.nav__hamburger-wrap-link-active Product Rankings
            li.nav__hamburger-wrap-item
              a(href="#").nav__hamburger-wrap-link Electronics
              ul.nav__hamburger-wrap-sub2-list.menu.nested.vertical
                li.nav__hamburger-wrap-sub-item_active
                  a(href="#").nav__hamburger-wrap-sub-link Back to main
                li.nav__hamburger-wrap-sub-item
                  .nav__hamburger-wrap-sub-item-head Televisions
                  a(href="#").nav__hamburger-wrap-sub-link LED TV's
                li.nav__hamburger-wrap-sub-item
                  .nav__hamburger-wrap-sub-item-head Cameras
                  a(href="#").nav__hamburger-wrap-sub-link Digital Cameras
                  a(href="#").nav__hamburger-wrap-sub-link Instant Cameras
                  a(href="#").nav__hamburger-wrap-sub-link Security Cameras
                li.nav__hamburger-wrap-sub-item
                  .nav__hamburger-wrap-sub-item-head Home Entertaiment
                  a(href="#").nav__hamburger-wrap-sub-link sound Bars
                  a(href="#").nav__hamburger-wrap-sub-link Home Theaters
            li.nav__hamburger-wrap-item
              a(href="#").nav__hamburger-wrap-link Home Needs
              ul.nav__hamburger-wrap-sub2-list.menu.nested.vertical
                li.nav__hamburger-wrap-sub-item_active
                  a(href="#").nav__hamburger-wrap-sub-link Back to main
                li.nav__hamburger-wrap-sub-item
                  .nav__hamburger-wrap-sub-item-head Televisions
                  a(href="#").nav__hamburger-wrap-sub-link LED TV's
                li.nav__hamburger-wrap-sub-item
                  .nav__hamburger-wrap-sub-item-head Cameras
                  a(href="#").nav__hamburger-wrap-sub-link Digital Cameras
                  a(href="#").nav__hamburger-wrap-sub-link Instant Cameras
                  a(href="#").nav__hamburger-wrap-sub-link Security Cameras
                li.nav__hamburger-wrap-sub-item
                  .nav__hamburger-wrap-sub-item-head Home Entertaiment
                  a(href="#").nav__hamburger-wrap-sub-link sound Bars
                  a(href="#").nav__hamburger-wrap-sub-link Home Theaters
            li.nav__hamburger-wrap-item
              a(href="#").nav__hamburger-wrap-link Kitchen Needs
              ul.nav__hamburger-wrap-sub2-list.menu.nested.vertical
                li.nav__hamburger-wrap-sub-item_active
                  a(href="#").nav__hamburger-wrap-sub-link Back to main
                li.nav__hamburger-wrap-sub-item
                  .nav__hamburger-wrap-sub-item-head Televisions
                  a(href="#").nav__hamburger-wrap-sub-link LED TV's
                li.nav__hamburger-wrap-sub-item
                  .nav__hamburger-wrap-sub-item-head Cameras
                  a(href="#").nav__hamburger-wrap-sub-link Digital Cameras
                  a(href="#").nav__hamburger-wrap-sub-link Instant Cameras
                  a(href="#").nav__hamburger-wrap-sub-link Security Cameras
                li.nav__hamburger-wrap-sub-item
                  .nav__hamburger-wrap-sub-item-head Home Entertaiment
                  a(href="#").nav__hamburger-wrap-sub-link sound Bars
                  a(href="#").nav__hamburger-wrap-sub-link Home Theaters
            li.nav__hamburger-wrap-item
              a(href="#").nav__hamburger-wrap-link Sports Items
              ul.nav__hamburger-wrap-sub2-list.menu.nested.vertical
                li.nav__hamburger-wrap-sub-item_active
                  a(href="#").nav__hamburger-wrap-sub-link Back to main
                li.nav__hamburger-wrap-sub-item
                  .nav__hamburger-wrap-sub-item-head Televisions
                  a(href="#").nav__hamburger-wrap-sub-link LED TV's
                li.nav__hamburger-wrap-sub-item
                  .nav__hamburger-wrap-sub-item-head Cameras
                  a(href="#").nav__hamburger-wrap-sub-link Digital Cameras
                  a(href="#").nav__hamburger-wrap-sub-link Instant Cameras
                  a(href="#").nav__hamburger-wrap-sub-link Security Cameras
                li.nav__hamburger-wrap-sub-item
                  .nav__hamburger-wrap-sub-item-head Home Entertaiment
                  a(href="#").nav__hamburger-wrap-sub-link sound Bars
                  a(href="#").nav__hamburger-wrap-sub-link Home Theaters
            li.nav__hamburger-wrap-item
              a(href="#").nav__hamburger-wrap-link Books, Miscellaneous
              ul.nav__hamburger-wrap-sub2-list.menu.nested.vertical
                li.nav__hamburger-wrap-sub-item_active
                  a(href="#").nav__hamburger-wrap-sub-link Back to main
                li.nav__hamburger-wrap-sub-item
                  .nav__hamburger-wrap-sub-item-head Televisions
                  a(href="#").nav__hamburger-wrap-sub-link LED TV's
                li.nav__hamburger-wrap-sub-item
                  .nav__hamburger-wrap-sub-item-head Cameras
                  a(href="#").nav__hamburger-wrap-sub-link Digital Cameras
                  a(href="#").nav__hamburger-wrap-sub-link Instant Cameras
                  a(href="#").nav__hamburger-wrap-sub-link Security Cameras
                li.nav__hamburger-wrap-sub-item
                  .nav__hamburger-wrap-sub-item-head Home Entertaiment
                  a(href="#").nav__hamburger-wrap-sub-link sound Bars
                  a(href="#").nav__hamburger-wrap-sub-link Home Theaters
        li.nav__hamburger-wrap-item
          a(href="#").nav__hamburger-wrap-link Deals
          ul.nav__hamburger-wrap-sub-list.menu.nested.vertical
            li.nav__hamburger-wrap-item_active
              span.nav__hamburger-wrap-link-active Deals
            li.nav__hamburger-wrap-item
              a(href="#").nav__hamburger-wrap-link Electronics
              ul.nav__hamburger-wrap-sub2-list.menu.nested.vertical
                li.nav__hamburger-wrap-sub-item_active
                  a(href="#").nav__hamburger-wrap-sub-link Deals
                li.nav__hamburger-wrap-sub-item
                  .nav__hamburger-wrap-sub-item-head Televisions
                  a(href="#").nav__hamburger-wrap-sub-link LED TV's
                li.nav__hamburger-wrap-sub-item
                  .nav__hamburger-wrap-sub-item-head Cameras
                  a(href="#").nav__hamburger-wrap-sub-link Digital Cameras
                  a(href="#").nav__hamburger-wrap-sub-link Instant Cameras
                  a(href="#").nav__hamburger-wrap-sub-link Security Cameras
                li.nav__hamburger-wrap-sub-item
                  .nav__hamburger-wrap-sub-item-head Home Entertaiment
                  a(href="#").nav__hamburger-wrap-sub-link sound Bars
                  a(href="#").nav__hamburger-wrap-sub-link Home Theaters
            li.nav__hamburger-wrap-item
              a(href="#").nav__hamburger-wrap-link Home Needs
              ul.nav__hamburger-wrap-sub2-list.menu.nested.vertical
                li.nav__hamburger-wrap-sub-item_active
                  a(href="#").nav__hamburger-wrap-sub-link Deals
                li.nav__hamburger-wrap-sub-item
                  .nav__hamburger-wrap-sub-item-head Televisions
                  a(href="#").nav__hamburger-wrap-sub-link LED TV's
                li.nav__hamburger-wrap-sub-item
                  .nav__hamburger-wrap-sub-item-head Cameras
                  a(href="#").nav__hamburger-wrap-sub-link Digital Cameras
                  a(href="#").nav__hamburger-wrap-sub-link Instant Cameras
                  a(href="#").nav__hamburger-wrap-sub-link Security Cameras
                li.nav__hamburger-wrap-sub-item
                  .nav__hamburger-wrap-sub-item-head Home Entertaiment
                  a(href="#").nav__hamburger-wrap-sub-link sound Bars
                  a(href="#").nav__hamburger-wrap-sub-link Home Theaters
            li.nav__hamburger-wrap-item
              a(href="#").nav__hamburger-wrap-link Kitchen Needs
              ul.nav__hamburger-wrap-sub2-list.menu.nested.vertical
                li.nav__hamburger-wrap-sub-item_active
                  a(href="#").nav__hamburger-wrap-sub-link Deals
                li.nav__hamburger-wrap-sub-item
                  .nav__hamburger-wrap-sub-item-head Televisions
                  a(href="#").nav__hamburger-wrap-sub-link LED TV's
                li.nav__hamburger-wrap-sub-item
                  .nav__hamburger-wrap-sub-item-head Cameras
                  a(href="#").nav__hamburger-wrap-sub-link Digital Cameras
                  a(href="#").nav__hamburger-wrap-sub-link Instant Cameras
                  a(href="#").nav__hamburger-wrap-sub-link Security Cameras
                li.nav__hamburger-wrap-sub-item
                  .nav__hamburger-wrap-sub-item-head Home Entertaiment
                  a(href="#").nav__hamburger-wrap-sub-link sound Bars
                  a(href="#").nav__hamburger-wrap-sub-link Home Theaters
            li.nav__hamburger-wrap-item
              a(href="#").nav__hamburger-wrap-link Sports Items
              ul.nav__hamburger-wrap-sub2-list.menu.nested.vertical
                li.nav__hamburger-wrap-sub-item_active
                  a(href="#").nav__hamburger-wrap-sub-link Deals
                li.nav__hamburger-wrap-sub-item
                  .nav__hamburger-wrap-sub-item-head Televisions
                  a(href="#").nav__hamburger-wrap-sub-link LED TV's
                li.nav__hamburger-wrap-sub-item
                  .nav__hamburger-wrap-sub-item-head Cameras
                  a(href="#").nav__hamburger-wrap-sub-link Digital Cameras
                  a(href="#").nav__hamburger-wrap-sub-link Instant Cameras
                  a(href="#").nav__hamburger-wrap-sub-link Security Cameras
                li.nav__hamburger-wrap-sub-item
                  .nav__hamburger-wrap-sub-item-head Home Entertaiment
                  a(href="#").nav__hamburger-wrap-sub-link sound Bars
                  a(href="#").nav__hamburger-wrap-sub-link Home Theaters
            li.nav__hamburger-wrap-item
              a(href="#").nav__hamburger-wrap-link Books, Miscellaneous
              ul.nav__hamburger-wrap-sub2-list.menu.nested.vertical
                li.nav__hamburger-wrap-sub-item_active
                  a(href="#").nav__hamburger-wrap-sub-link Deals
                li.nav__hamburger-wrap-sub-item
                  .nav__hamburger-wrap-sub-item-head Televisions
                  a(href="#").nav__hamburger-wrap-sub-link LED TV's
                li.nav__hamburger-wrap-sub-item
                  .nav__hamburger-wrap-sub-item-head Cameras
                  a(href="#").nav__hamburger-wrap-sub-link Digital Cameras
                  a(href="#").nav__hamburger-wrap-sub-link Instant Cameras
                  a(href="#").nav__hamburger-wrap-sub-link Security Cameras
                li.nav__hamburger-wrap-sub-item
                  .nav__hamburger-wrap-sub-item-head Home Entertaiment
                  a(href="#").nav__hamburger-wrap-sub-link sound Bars
                  a(href="#").nav__hamburger-wrap-sub-link Home Theaters
            li.nav__hamburger-wrap-item
              a(href="#").nav__hamburger-wrap-link Miscellaneous
              ul.nav__hamburger-wrap-sub2-list.menu.nested.vertical
                li.nav__hamburger-wrap-sub-item_active
                  a(href="#").nav__hamburger-wrap-sub-link Deals
                li.nav__hamburger-wrap-sub-item
                  .nav__hamburger-wrap-sub-item-head Televisions
                  a(href="#").nav__hamburger-wrap-sub-link LED TV's
                li.nav__hamburger-wrap-sub-item
                  .nav__hamburger-wrap-sub-item-head Cameras
                  a(href="#").nav__hamburger-wrap-sub-link Digital Cameras
                  a(href="#").nav__hamburger-wrap-sub-link Instant Cameras
                  a(href="#").nav__hamburger-wrap-sub-link Security Cameras
                li.nav__hamburger-wrap-sub-item
                  .nav__hamburger-wrap-sub-item-head Home Entertaiment
                  a(href="#").nav__hamburger-wrap-sub-link sound Bars
                  a(href="#").nav__hamburger-wrap-sub-link Home Theaters
            li.nav__hamburger-wrap-item
              a(href="#").nav__hamburger-wrap-link Test Menu
              ul.nav__hamburger-wrap-sub2-list.menu.nested.vertical
                li.nav__hamburger-wrap-sub-item_active
                  a(href="#").nav__hamburger-wrap-sub-link Deals
                li.nav__hamburger-wrap-sub-item
                  .nav__hamburger-wrap-sub-item-head Televisions
                  a(href="#").nav__hamburger-wrap-sub-link LED TV's
                li.nav__hamburger-wrap-sub-item
                  .nav__hamburger-wrap-sub-item-head Cameras
                  a(href="#").nav__hamburger-wrap-sub-link Digital Cameras
                  a(href="#").nav__hamburger-wrap-sub-link Instant Cameras
                  a(href="#").nav__hamburger-wrap-sub-link Security Cameras
                li.nav__hamburger-wrap-sub-item
                  .nav__hamburger-wrap-sub-item-head Home Entertaiment
                  a(href="#").nav__hamburger-wrap-sub-link sound Bars
                  a(href="#").nav__hamburger-wrap-sub-link Home Theaters
        li.nav__hamburger-wrap-item
          a(href="#").nav__hamburger-wrap-link Guides
        li.nav__hamburger-wrap-item
          a(href="#").nav__hamburger-wrap-link Price Alerts
        li.nav__hamburger-wrap-item
          a(href="#").nav__hamburger-wrap-link Price History Check
      .nav__hamburger-wrap-footer
        .nav__hamburger-wrap-footer-head About
        .nav__hamburger-wrap-footer-text Buzzguide is a Hyderabad based startup founded by former colleagues at Freecharge. You should never buy a product out of blank. Buzzguide provides you with as many tools as possible for a powerful product & price research.
        .nav__hamburger-wrap-footer-logo
          img(src="assets/img/logo/logo1.png", alt="Logo")
        .nav__hamburger-wrap-footer-copyright copyright@2018