extends ../main-layout
block variables
  -
    var title = "Buzzguide - Price History Laptops";
  
block content
  include ../modules/header.pug
  +header('index')
  section.rankings-individual__breadcrumbs.price-individual__breadcrumbs
    .container__fluid
      ul.rankings__breadcrumbs-list
        li.rankings__breadcrumbs-item
          a(href="#").rankings__breadcrumbs-link Product Rankings 
          span.rankings__breadcrumbs-devide >>
        li.rankings__breadcrumbs-item.rankings__breadcrumbs-item_active
          span.rankkings__breadcrumbs-span Laptops
      .rankings__filter
        select.rankings__filter-select
          option(value="Filter By Brand") Filter By Brand
          option(value="Brand") Brand
          option(value="Brand") Brand
          option(value="Brand") Brand
          option(value="Brand") Brand
          option(value="Brand") Brand
      label.nav__seach-label.ranking-individual__search
        input(type="search", name="search", placeholder='Search in laptops ')
        span.nav__search-icon 
          i(class="fas fa-search")
      .rankings__alert
        select.rankings__alert-select
          option(value="Send me email alert if") Send me email alert if
          option(value="Condition") Condition
          option(value="Condition") Condition
      .rankings-individual__deals
        a(href="#")
          span Deals? 
          span See here >>
  section.price-individual__head
    .container
      .price-individual__head-img
        img(src="assets/img/contents/fertilizers.jpg", alt="Product Image")
      .price-individual__head-text
        h3 Laptops - Price History Check
        p Select &  check Amazon price history of your favorite laptops
        p Update Today: 09-Nov, 2018 (07:39 AM)
  section.price-individual__product
    .container__full
      ul.price-individual__product-list
        li.price-individual__product-item
          .price-individual__product-item-img
            img(src="assets/img/contents/product.jpg", alt="Product Image")
          .price-individual__product-item-info
            .price-individual__product-item-name
              p Philips QT4011 Trimmer corded & cordless - Dual power trimmer Thi sis a test
            .price-individual__product-item-rating
              span.text-red 4.3 
              | Rating, From 
              span.text-red 83335 
              | Amazon Reviews
            .price-individual__product-item-rs
              p Rs 5499 on Today
            .price-individual__product-item-link
              a(href="#").btn See Price History Of This Item
        li.price-individual__product-item
          .price-individual__product-item-img
            img(src="assets/img/contents/product.jpg", alt="Product Image")
          .price-individual__product-item-info
            .price-individual__product-item-name
              p Philips QT4011 Trimmer corded & cordless - Dual power trimmer
            .price-individual__product-item-rating
              span.text-text-red 4.3 
              | Rating, From 
              span.text-text-red 83335 
              | Amazon Reviews
            .price-individual__product-item-rs
              p Rs 5499 on Today
            .price-individual__product-item-link
              a(href="#").btn See Price History Of This Item
        li.price-individual__product-item
          .price-individual__product-item-img
            img(src="assets/img/contents/product.jpg", alt="Product Image")
          .price-individual__product-item-info
            .price-individual__product-item-name
              p Philips QT4011 Trimmer corded & cordless - Dual power trimmer
            .price-individual__product-item-rating
              span.text-red 4.3 
              | Rating, From 
              span.text-red 83335 
              | Amazon Reviews
            .price-individual__product-item-rs
              p Rs 5499 on Today
            .price-individual__product-item-link
              a(href="#").btn See Price History Of This Item
      ul.price-individual__product-list
        li.price-individual__product-item
          .price-individual__product-item-img
            img(src="assets/img/contents/product.jpg", alt="Product Image")
          .price-individual__product-item-info
            .price-individual__product-item-name
              p Philips QT4011 Trimmer corded & cordless - Dual power trimmer
            .price-individual__product-item-rating
              span.text-red 4.3 
              | Rating, From 
              span.text-red 83335 
              | Amazon Reviews
            .price-individual__product-item-rs
              p Rs 5499 on Today
            .price-individual__product-item-link
              a(href="#").btn See Price History Of This Item
        li.price-individual__product-item
          .price-individual__product-item-img
            img(src="assets/img/contents/product.jpg", alt="Product Image")
          .price-individual__product-item-info
            .price-individual__product-item-name
              p Philips QT4011 Trimmer corded & cordless - Dual power trimmer
            .price-individual__product-item-rating
              span.text-text-red 4.3 
              | Rating, From 
              span.text-text-red 83335 
              | Amazon Reviews
            .price-individual__product-item-rs
              p Rs 5499 on Today
            .price-individual__product-item-link
              a(href="#").btn See Price History Of This Item
        li.price-individual__product-item
          .price-individual__product-item-img
            img(src="assets/img/contents/product.jpg", alt="Product Image")
          .price-individual__product-item-info
            .price-individual__product-item-name
              p Philips QT4011 Trimmer corded & cordless - Dual power trimmer
            .price-individual__product-item-rating
              span.text-red 4.3 
              | Rating, From 
              span.text-red 83335 
              | Amazon Reviews
            .price-individual__product-item-rs
              p Rs 5499 on Today
            .price-individual__product-item-link
              a(href="#").btn See Price History Of This Item
      ul.price-individual__product-list
        li.price-individual__product-item
          .price-individual__product-item-img
            img(src="assets/img/contents/product.jpg", alt="Product Image")
          .price-individual__product-item-info
            .price-individual__product-item-name
              p Philips QT4011 Trimmer corded & cordless - Dual power trimmer
            .price-individual__product-item-rating
              span.text-red 4.3 
              | Rating, From 
              span.text-red 83335 
              | Amazon Reviews
            .price-individual__product-item-rs
              p Rs 5499 on Today
            .price-individual__product-item-link
              a(href="#").btn See Price History Of This Item
        li.price-individual__product-item
          .price-individual__product-item-img
            img(src="assets/img/contents/product.jpg", alt="Product Image")
          .price-individual__product-item-info
            .price-individual__product-item-name
              p Philips QT4011 Trimmer corded & cordless - Dual power trimmer
            .price-individual__product-item-rating
              span.text-text-red 4.3 
              | Rating, From 
              span.text-text-red 83335 
              | Amazon Reviews
            .price-individual__product-item-rs
              p Rs 5499 on Today
            .price-individual__product-item-link
              a(href="#").btn See Price History Of This Item
        li.price-individual__product-item
          .price-individual__product-item-img
            img(src="assets/img/contents/product.jpg", alt="Product Image")
          .price-individual__product-item-info
            .price-individual__product-item-name
              p Philips QT4011 Trimmer corded & cordless - Dual power trimmer
            .price-individual__product-item-rating
              span.text-red 4.3 
              | Rating, From 
              span.text-red 83335 
              | Amazon Reviews
            .price-individual__product-item-rs
              p Rs 5499 on Today
            .price-individual__product-item-link
              a(href="#").btn See Price History Of This Item
  include ../modules/bottom-2
  +bottom2
  include ../modules/footer
  +footer