@mixin inlineblock($valign : top){
    display: inline-block;
    vertical-align: $valing;
}

@mixin centered($axes : both){
    position: absolute;
    @if $axes == both {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%)
    }
    @if $axes == y {
        top: 50%;
        transform: translateY(-50%);
    }
    @if $axes == x {
        left: 50%;
        transform: translateX(-50%);
    }
}


%clearfix{
    &:after{
        content: "";
        display: block;
        clear: both;
    }
}

//PC-lagrge
@mixin desktoplg{
    @media screen and (max-width: 1400px){
        @content;
    }
}
//PC
@mixin desktop{
    @media screen and (max-width: 1200px){
        @content;
    }
}
//laptop
@mixin laptop{
    @media screen and (max-width: 991px){
        @content;
    }
}
//tablets
@mixin tablet{
    @media screen and (max-width: 768px){
        @content;
    }
}
@mixin mintablet{
    @media screen and (max-width: 650px){
        @content;
    }
}
//phones
@mixin phone{
    @media screen and (max-width: 575px){
        @content;
    }
}
//minphones
@mixin minphone{
    @media screen and (max-width: 417px){
        @content;
    }
}
@mixin minphones{
    @media screen and (max-width: 400px){
        @content;
    }
}