.buzz-bottom-first-img__section{
  padding: 60px 0;
  @include tablet{
    padding: 30px 0;
  }
}
.buzz-bottom-first-img__wrap{
  display: flex;
  justify-content: center;
  align-items: center;

  .head-inline__img{
    width: 100px;
    @include tablet{
      width: 70px;
    }
  }
  .head-inline__text{
    width: 200px;
    h3{
      font-size: 26px;
      @include latobold;
      color: #040404;
    }
  }
}

.buzz-bottom-first__section{
  background: #00aa38;
  padding: 50px 0;
  .container{
    position: relative;
    display: flex;
    &:before{
      @include centered(x);
      bottom: 100%;
      content: "";
      border: 65px solid transparent;
      border-bottom-color: #00aa38;
      border-top-width: 0;
      border-left-width: 36px;
      border-right-width: 36px;
      margin-bottom: 49px;
      margin-left: -30px;
      @include laptop{
        display: none;
      }
    }

    @include tablet{
      flex-direction: column;
    }
  }
}
.buzz-bottom-first__img{
  height: 300px;
  width: 300px;
  text-align: center;
  margin-right: 50px;

  img{
    max-width: 200px;
    @include tablet{
      max-width: 100px;
      margin-right: 20px;
      margin-bottom: 20px;
    }
  }
  @include laptop{
    width: 40%;
  }
  @include tablet{
    display: flex;
    align-items: center;
    height: auto;
    width: 100%;
    margin-right: 0;
  }
}
.buzz-bottom-first__img-mobile-text{
  display: none;
  font-size: 32px;
  @include latobold;
  text-align: left;
  color: #000100;
  line-height: 1.2;
  @include tablet{
    display: block;
  }
}

.buzz-bottom-first__text{
  width: 400px;
  @include laptop{
    width: 45%;
  }
  @include tablet{
    width: 100%; 
  }
}
.buzz-bottom-first__text-head{
  color: #030403;
  font-weight: bold;
  p{
    &:first-child{
      font-size: 28px;
      margin-bottom: 10px;
      @include tablet{
        display: none;
      }
    }
    &:last-child{
      font-size: 18px;
      margin-bottom: 10px;
    }
  }
}
.buzz-bottom-first__list{
  margin-bottom: 20px;
}
.buzz-bottom-first__item{
  color: #fefccc;
  display: flex;
  margin-bottom: 10px;
  span{
    &:first-child{
      margin-right: 15px;
      @include tablet{
        display: none; 
      }
    }
    &:last-child{
      @include tablet{
        font-size: 16px;
      }
    }
  }
}
.buzz-bottom-first__form-label{
  margin-bottom: 10px;
  input{
    border-radius: 0;
    padding: 10px;
    height: auto;
  }
}
.buzz-bottom-first__form-btn{
  width: 100%;
  background: #ffff00;
  padding: 20px 10px;
  cursor: pointer;
  border-radius: 0;
  margin-bottom: 20px;

  p{
    &:first-child{
      font-size: 22px;
      font-weight: bold;
      margin-bottom: 10px;

      @include tablet{
        font-size: 16px;
      }
    }
    &:last-child{
      color: #474702;
      font-size: 15px;

      @include tablet{
        font-size: 13px;
        @include latobold;
      }
    }
  }
  &:hover{
    background: #f1f102;
  }
  @include tablet{
    padding: 10px;
  }
}
.buzz-bottom-first__text-bottom{
  color: #062911;
  font-weight: bold;
}

.buzz-bottom-first__img-mobile-text{
  display: none;

  @include tablet{
    display: block;
  }
}