.header__menu-dropdown-wrap-content{
  position: relative;
  background: #fff;
  display: inline-block;
  @include lato;
  z-index: 20;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  @include desktop{
    box-shadow: -3px 2px 5px 0px #d0d0d0;
  }
  @include laptop{
    box-shadow: 0 0 0 0;
    border-radius: 0;
    background: #8d00d4;
    width: 100%;
  }
}
.header__menu-dropdown-wrap-list{
  .tabs__item_active{
    @include laptop{
      .header__menu-dropdown-wrap-link{
        color: #fffeff !important;
        font-size: 18px;
        @include lato;
  
        &:after{
          content: "[ - ]";
          font-size: 18px;
          @include lato;
        }
      }
    }
  }
  .header__menu-dropdown-wrap-item{
    &:first-child{
      padding-top: 10px;
      margin-top: 10px;
    }
    &:last-child{
      padding-bottom: 10px;
      margin-bottom: 10px;
    }
  }
  @include laptop{
    .header__menu-dropdown-wrap-item{
      &:first-child{
        padding-top: 0;
        margin-top: 0;
      }
      &:last-child{
        padding-bottom: 10px;
        margin-bottom: 0;
      }
    }
  }
  .tabs__item{
    border-width: 0;
    border-radius: 0;
    background: transparent;
  }
  .tabs__item_active{
    background: transparent !important;
  }
}
.header__menu-dropdown-wrap-link{
  display: block;
  text-decoration: none;
  color: #a5a5a5;
  transition: .2s linear;
  @include lato;
  @include laptop{
    color: #fffeff;
    font-size: 18px;
    position: relative;
    @include lato;
    padding: 19px 10px;
    &:after{
      content: "+";
      display: block;
      font-size: 32px;
      color: #fffeff;
      @include centered(y);
      right: 0;
      margin-top: -1px;
      margin-right: 10px;
      line-height: 1;
    }
  }
}
.header__menu-dropdown-wrap-item{
  width: 240px;
  cursor: pointer;
  padding: 17px 10px;
  margin: 0 10px;
  border-radius: 10px !important;

  &:hover{
    background: #f5f5f5 !important;
    .header__menu-dropdown-wrap-sub-list{
      display: flex;
      @include laptop{
        display: block;
      }
    }
    .header__menu-dropdown-wrap-link{
      @include latobold;
      color: #333333;
      @include laptop{
        color: #fffeff;
        @include lato;
      }
    }
  }
  @include laptop{
    padding: 0 !important;
    width: 100%;
    margin: 0;
    &:hover{
      background: #8d00d4 !important;
    }
    position: relative;
    &:after{
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      background: #d7c0e3;
      position: absolute;
      top: 0;
      left: 0;
      margin-top: 62px;
      z-index: 200;
    }
  }
  .tabs__link-text{
    display: block;
    
    @include laptop{
      display: none;
    }
  }
}
.header__menu-dropdown-wrap-item_active{
  background: #f5f5f5 !important;
  .header__menu-dropdown-wrap-sub-list{
    display: flex;
    @include laptop{
      display: block;
    }
  }
  .header__menu-dropdown-wrap-link{
    @include latobold;
    color: #333333;
    @include laptop{
      color: #fffeff !important;
      font-size: 18px;
      @include lato;
    }
  }
  @include laptop{
    background: #8d00d4 !important;
  }
}
.header__menu-dropdown-wrap-sub-list{
  position: absolute;
  left: 100%; 
  top: 0;
  background: #fff;
  z-index: 20;
  width: 600px;
  height: 31.8625rem;
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  display: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-left: -10px;

  &:after{
    content: "Note: Please use search box if you didn't found a category here.";
    display: block;
    font-size: 16px;
    color: #a5a5a5;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 0 20px 30px;
  }
  &:before{
    content: "";
    display: block;
    position: absolute;
    right: 96%;
    width: 1px;
    height: 80%;
    background: #ccc;
    @include centered(y);
    z-index: 20;
    margin-right: 2px;
  }

  @include desktop{
    width: 598px;
    height: 501px;
    box-shadow: 3px 3px 5px -1px #d0d0d0;
  }
  @include laptop{
    position: relative;
    left: 0;
    width: 100%;
    height: auto;
    background: #8d00d4;
    box-shadow: 0 0 0 0;
    margin-left: 0;
    padding: 10px 20px 20px 20px;
    display: block;
    &:before, &:after{
      display: none;
    }
    &:after{
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      background: #e3dfe6;
      position: absolute;
      top: 100%;
      left: 0;
      margin: 0;
      z-index: 0;
      padding: 0;
    }
  }
  .header__menu-dropdown-wrap-sub-item{
    &:last-child{
      @include laptop{
        margin-bottom: 0;
      }
    }
  }
}
.header__menu-dropdown-wrap-sub-item{
  margin-bottom: 20px;
  margin-left: 20px;

  @include laptop{
    margin-left: 0;
  }

}
.header__menu-dropdown-wrap-sub-item_list-item{
  @include laptop{
    a{
      color: #fffeff;
      @include lato;
      font-size: 18px;
    }
  }
}
.header__menu-dropdown-wrap-sub-item_list{
  .header__menu-dropdown-wrap-sub-item_list-item{
    &:first-child{
      color: #000000;
      font-weight: bold;
      margin-bottom: 5px;
      @include laptop{
        @include latobold;
        color: #f3fe12;
        font-size: 19px;
      }
    }
  }
}
.header__menu-dropdown-wrap-sub-item_list-item-link{
  font-size: 16px;
  text-decoration: none;
  color: #313131;

  &:hover{
    text-decoration: underline;
  }
}