.tooltips-container{
  position: relative;
}
.tooltips{
  position: absolute;
  width: 125%;
  padding: 20px 30px;
  border-radius: 30px;
  background: #0046d4;
  bottom: 100%;
  margin-bottom: 30px;
  left: 0;
  transform: translateX(-40%);
  display: none;

  &:after{
    content: "";
    position: absolute;
    left: 85%;
    top: 100%;
    transform: translateX(-50%);
    border: 2rem solid transparent;
    border-top-color: #0046d4;
    border-bottom-width: 0;
    border-left-width: 1.35rem;
    border-right-width: 1.35rem;

    @include laptop{
      left: 85%;
    }
    @include tablet{
      border-width: 20px;
      border-left-width: 16px;
      border-right-width: 16px;
      left: 18%;
    }
  }
  &:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 35px;
    top: 100%;
    left: 0;
  }
  @include laptop{
    width: 170%;
    transform: translateX(-35%);
  }
  @include tablet{
    width: 100%;
    transform: translate(0, 0);
    padding: 10px 20px;
    margin-bottom: 20px;
  }
}
.tooltips__text, .tooltips__link{
  display: inline-block;
  color: #fefeff;
}
.tooltips__text{
  margin-bottom: 20px;
  font-size: 15px;

  @include tablet{
    font-size: 13px;
  }
}
.tooltips__link{
  text-decoration: none;
  @include latobold;
  font-size: 15px;
  margin-bottom: 20px;

  &:hover{
    text-decoration: underline;
  }
  @include tablet{
    font-size: 13px;
  }
}